/* =================================
        color variable's
================================= */

// $Primary_color: #f43334;
// $Grey_text: #777777;
// $Grey_text2: #999999;
// $Grey_bg_color: #77777778;
// $Black_shade: #161616;
// $Black_shade2: #191919;
// $Black_shade3: #202020;
// $Yellow_shade: #eb9500;

$Primary: #d32300;
$Primary_hover: #bd1f00;
$Secondary: #0a4253;
$Secondary_hover: #093b4a;
$Text: #666666;
$Text_light: #999999;
$Accent: #222222;
$Border: #eae6e6;
$Background: #ffffff;
$White: #ffffff;
$Background_light: #f1eCe8;

/* =================================
        Font Size variabe's
================================= */

$font-size-14px: 14px;
$font-size-16px: 16px;
$font-size-18px: 18px;
$font-size-20px: 20px;
$font-size-24px: 24px;
$font-size-40px: 40px;
$font-size-65px: 65px;
// $font-size- : ;
// $font-size- : ;
// $font-size- : ;

/* =================================
        Line Height variabe's
================================= */

$line-height-24px: 24px;
$line-height-28px: 28px;
$line-height-32px: 32px;
$line-height-48px: 48px;

/*  ====================================
        Font Family Variable's
====================================  */

$font-family-Barlow-Regular: "Barlow-Regular";
$font-family-Barlow-Medium: "Barlow-Medium";
$font-family-Barlow-SemiBold: "Barlow-SemiBold";
$font-family-Barlow-Bold: "Barlow-Bold";